// footer styles

footer{
    background: $primaryBlack;

    p{
        color: $primaryWhite;
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 5px;
    }
}

.footerFlex{
    // display: flex;
    // justify-content: center;
    // align-items: center;

    // i{
    //     color: $primaryWhite;
    //     transition: all .3s ease-in-out;
    //     font-size: 2rem;
    // }

    // i:hover{
    //     transform: scale(1.1);
    // }
}

